*
    margin 0
    font-family: Arial, Helvetica, sans-serif 

    // from here starts the header
header
    display: flex
    padding: 25px
    justify-content: space-between
    background-color: rgb(255,243,243)

.logotop
    padding-left: 20px
    width: auto
    height: auto
.bannertop
    padding-right: 20px
    width: auto
    height: auto

    // from here starts the navigation

nav 
    background-color: rgb(142,22,22)

    ul
        list-style-type: none
        display: flex
        flex-flow: row
        justify-content: start
        font-size: 30px
        color: #fff
        padding: 10px
        margin: auto

        li 
            padding-left: 10px 

    // from here starts the main content

.mainbackground
    background-image: url ("/img/traffic.jpg") 
    background-repeat: no-repeat
    background-size: cover 
    
